body {
}

.App {
  text-align: center;
}

/***************Header styling ***********/

/***************Navigation styling ***********/
.navigationContainer {
  background-color: gray;
  min-height: 70px;
}

/***************Body styling ***********/
.bodyContainer {
  min-height: 300px;
}

.likeIcon {
  width: 30px;
  cursor: pointer;
}

/***************Footer styling ***********/
.footerContainer {
  background-color: rgb(90, 244, 239);
  min-height: 150px;
}
